*.class
*.log
bin/
# sbt specific
dist/*
target/

lib_managed/
src_managed/
project/boot/
project/plugins/project/
python/
rethinkdb_data/
rethinkdb-driver-development/

# Scala-IDE specific
.scala_dependencies

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
.vagrant

# Eclipse project files
*.classpath
*.project
*.cache
*.settings
